#container {
  width: 960px;
  margin: 0 auto;
  background-color: #8DA296;
}

#primary {
  float: left;
  width: 240px;
  background-color: #98B1A3;
}

#content {
  float: left;
  width: 480px;
  background-color: #ACC5B7;
}

#annotations {
  float: left;
  width: 240px;
  background-color: #6D9B81;
}

#footer {
  clear: both;
}