<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <h1> Welcome to Open Shakespeare.<h1/> 
    <h3>Please pardon our dust while we are under construction.</h3>
    <p> Coming Soon! <p>
  </body>
</html>