<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <h1> Welcome to Open Shakespeare.<h1/> 
    <h3>Please pardon our dust while we are under construction.</h3>
    <p> Coming Soon! <p>

      <div id="container">
        <div id="header">
        <p>Header</p>
    </div>
    
    <div id="primary">
        <p>Primary Sidebar</p>
    </div>
    
    <div id="content">
        <p>Main content</p>
    </div>
    
    <div id="secondary">
        <p>Secondary Sidebar</p>
    </div>
    
    <div id="footer">
        <p>Footer</p>
    </div>
</div>
  </body>
</html>